body{
    background-color: whitesmoke;
}

.header {
    background-color: black;
    display: flex;
    margin: 0;
    padding-left: 10px;
}

.header h1 {
    color: white;
}

form {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 20px 50px;
}

.search_input {
    height: 24px;
    width: 40%;

}

.search_button {
    height: 30px;
    cursor: pointer;
}

.songlist {
    background-color: darkred;
    padding: 20px;
    background-image: url(https://media.istockphoto.com/id/1256944025/photo/trendy-girl-singing-favorite-song-out-loud-in-phone-as-mic-wearing-wireless-headphones.jpg?s=612x612&w=0&k=20&c=GIzdjh2QPC7y4_CcFZK-CbwLVFFQPpHpRb3LEnQo-nU=);
    background-size: 100% 100%;
}

.song h3 {
    color: white;
}